.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000000;
}

.title h1 {
  font-size: 50px;
  font-family: "Bungee Shade", cursive;
  padding: 0px 15px;
  margin-block-end: 0px;
}
